* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_div {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cent_div {
    border-radius: 20px;
    width: 35%;
    height: 70vh;
    background-color: rgba(218, 189, 189, 0.83);
    overflow-y: auto;
    box-shadow: 5px 5px 25px -5px black;
    /* overflow-x: hidden; */
}

p {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

p.time {
    margin-right: 85px;
}

p.date {
    margin-left: 85px;
}

h1 {
    background: transparent;
    background-color: rgb(255, 255, 255);
    color: rgb(123, 23, 200);
    margin: 10px 0px;
    padding: 2px 0px;
    border-radius: 27px;
    position: sticky;
    top: 0px;
}

.input_btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

input {
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 80%;
    border-bottom: 2px solid #ffffff;
    outline: none;
}

.input_btn button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.input_btn .add_item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    font-size: 30px;
    background-color: rgb(226, 226, 226);
    color: rgb(55, 49, 166);
    cursor: pointer;
    transition: .3s;
}

.add_icon {
    margin-top: 7px;
}

.input_btn .add_item:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 160, 43);
    transform: scale(1.1);
}

.sv_time {
    text-align: left;
    margin-left: 70px;
}

.todolist {
    width: 92%;
    display: flex;
    justify-content: left;
    margin: 0px 20px;
}

.todolist .cls_btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    border: 2px solid;
    background-color: white;
    color: cornflowerblue;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}

/* .del_btn {
    margin: 3px;
} */

.todolist .cls_btn:hover {
    background-color: rgb(24, 146, 0);
    color: rgb(249, 249, 249);
}

.todolist li {
    width: 80%;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    font-size: 20px;
    text-align: left;
    background-color: #6dde80;
    color: #0003eb;
    margin: 5px;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
}

.todolist .del_btn {
    width: 25px;
    height: 100%;
    margin: 13px 5px;
    border-radius: 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

/* .del_btn {
    margin: 3px;
} */

.todolist .del_btn:hover {
    background-color: white;
    color: red;
}

::-webkit-scrollbar {
    width: 0px;
}

@media only screen and (max-width: 800px) and (min-width:500px) {
    .cent_div {
        width: 70%;
        height: 80%;
    }

    p.time {
        margin-right: 80px;
    }

    p.date {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1006px) and (min-width:800px) {
    .cent_div {
        width: 60%;
        height: 80%;
    }

    p.time {
        margin-right: 80px;
    }

    p.date {
        margin-left: 80px;
    }
}


@media only screen and (max-width: 500px) {
    .cent_div {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        margin: 0px;
    }

    p.time {
        margin-right: 50px;
    }

    p.date {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 285px) {
    .main_div {
        min-width: 285px;
    }
}